<!DOCTYPE html>
<html>
  <head>
    <title>Xero Payroll</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-aria.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/javascripts/angularApp.js"></script>
    <script type="text/javascript" src="/javascripts/login/service.js"></script>
    <script type="text/javascript" src="/javascripts/login/controller.js"></script>
    <script type="text/javascript" src="/javascripts/home/controller.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body ng-app="App">
    <div ui-view style="height: 100%;"></div>
  </body>
</html>